/*!-----index-page-----*/
.save-project {
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    top: 0;
    z-index: 2;
    .t-contactos {
        color: nth($color, 1);
        font-family: 'Oswald', sans-serif ;
        background-attachment: fixed;
    }

    .intro1 {

        ul {
            list-style: none;
            display: flex;
            li {
                
                a{
                    color: nth($color, 3);
                    font-style: normal;
                    font-family: 'Times New Roman', Times, serif;
                    text-decoration: none;
                    margin: 5px 10px 5px 10px;
                }
            }
        }
    }
}

/*!*------Nosotros-page------*/
